{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>
        <p class="project-desc">{{project.descr | newline_to_br}}</p>
        {% if project.demo %}
          <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}
        {% if project.github %}
          <a class="highlight-link" href="{{project.github}}" target="_blank" rel="noreferrer">
            GitHub
          </a>
        {% endif %}
        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
        {% if project.roles %}
          <div class="roles-wrapper">
            <h4>Roles:</h4>
            <ul>
              {% for role in project.roles %}
                <li>{{role}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
{% if site.show_os_projects %}
  <h1 class="title">{{ site.os_projects_title }}</h1>

  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% assign username = 'shin2012649' %}
  {% assign starred_repos_url = "https://api.github.com/users/" | append: username | append: "/starred" %}
  {% assign starred_repos = site.github.data.stargazers[starred_repos_url] %}

  <div class="projects-wrapper">
    {% for repository in starred_repos %}
      {% unless site.projects.exclude.projects contains repository.name %}
        <div class="project neumorphism-card" data-aos="zoom-in-down">
          <div class="name-link-wrapper">
            <h3>{{ repository.name }}</h3>
            <div class="links">
              {% if repository.stargazers_count != 0 %}
                <a href="{{ repository.html_url }}/stargazers" class="project-stars-forks">
                  <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
                    <path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
                  </svg>{{ repository.stargazers_count }}
                </a>
              {% endif %}
            </div>
          </div>
          <p class="project-desc">{{ repository.description }}</p>
          {% if repository.homepage != "" and repository.homepage != nil %}
            <a class="highlight-link" href="{{ repository.homepage }}" target="_blank" rel="noreferrer">
              Demo
            </a>
          {% endif %}
          <a class="highlight-link" href="{{ repository.html_url }}" target="_blank" rel="noreferrer">
            GitHub
          </a>
          {% if repository.topics %}
            <div class="tag-wrapper">
              {% for topic in repository.topics %}
                <span class="tag neumorphism-card">{{ topic }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
{% endif %}
